.bord{
  background-color: rgb(128, 54, 54);
  border: 30px solid rgb(27, 12, 90);
  /* border-color: pink; */
  margin: 15px;
  text-align: center;
  width: 200px;
  display: inline-block;
}


.welcome-message{
   height: 50vh;
   width: 100%;
   background-color: green;
}

.no-login{
  height: 100vh;
  width: 100%;
  background-color: red;
}

#red{
  background-color: red;
}

#green{
  background-color: green;
}